.chat-page {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

.messages {
  height: 500px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message-container {
  display: flex;
  margin-bottom: 10px;
}

.user-container {
  justify-content: flex-start;
}

.support-container {
  justify-content: flex-end;
}

.message {
  max-width: 60%;
  padding: 10px;
  border-radius: 12px;
}

.user-message {
  background: #dbeafe;
}

.support-message {
  background: #dcfce7;
}

.sender {
  font-weight: bold;
  margin-right: 10px;
}

.input-zone {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  height: 40px;
  padding: 0 10px;
}

button {
  width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #1e3a8a;
  color: white;
  font-size: 16px;
  transition: background-color 0.2s ease;
}


.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.logo {
  height: 60px;
  width: auto;
}